services:
  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: aluno321

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
  web:
    image: nginx
    volumes:
      - ./meufrontend:/usr/share/nginx/html
    # - C:\Users\Admin\Documents\docker-compose-nginx
    ports:
      - "80:80"
      #porta 8085 --> porta do host/endpoint
      #porta 80 --> porta do container a ser acessado


